@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@font-face {
  font-family: "Lato";
  src: url("fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "LatoItalic";
  src: url("fonts/Lato/Lato-BoldItalic.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-Bold.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

html{
  background-image: url('images/backgrounds/back4.jpeg');
  background-size:100vw;
  background-repeat: space;
  background-attachment: fixed;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.header{
    /*border-bottom: 1px solid #E2E8F0;*/
    padding: 5px;
    background-image: url('resources/backs/[GetPaidStock.com]-61b6ed7dafaf5.jpg');
    object-fit: cover;
    background-size: 1350px;
    border-bottom: 3px solid black;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 100;
    width: 100%;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem 1.5rem;
}

.navbar .nav-logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: goldenrod;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.nav-item {
    margin-left: 5rem;

}

.nav-link{
    font-size: 16px;
    font-weight: 600;
    color: white;
    font-family: "Lato";
    text-transform: capitalize;
    z-index: 9999;

}

.nav-link:hover{
  color: goldenrod !important;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

.icons{
    display: flex;
    flex-direction: row;
}
.nav-item .icons .sociaIcon{
    background-image: url('images/iconRing.png');
    background-size: 50px;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    margin-left: 2px;
}

.nav-item .icons .sociaIcon img{
    height: 28px;
    margin-top: 10px;
    width: 28px;
    border-radius: 50%;
}

.ring{
    border: 2px solid cyan;
    box-shadow: 2px 2px cyan;
    border-radius: 35px;
    box-sizing: border-box;
    padding: 7px;
    width: 240px;
}


.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.vidSec {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    font-family: "Poppins";
    width: 100%;
    overflow: hidden;
  }
  
  .vidSec video {
    
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -990;
  }
  
.vidSec .container {
    position: relative;
  }
  
.vidSec .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    color: red;
    color: #fff;
    font-family: "Play",sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    padding: 10px;
    z-index: 100;
}
.overlay p{
    margin-bottom: 30px;
}
.overBtn {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    z-index: 100;
}

.overBtn .btn1{
    border: 2px solid grey;
    width: 200px;
    margin-left: 20px;
    font-size: 16px;
    padding: 13px;
    border-radius: 25px;
    text-align: center;
    height: 50px;
    margin-top: 65px;
    align-items: center;
    cursor: pointer;
    color: #fff;
    font-weight: bolder;
}

.overBtn .btn2:hover{
  transform: scale(1.1);
  transition: transform .9s ease-in-out;
}

.overBtn .btn1:hover{
  transform: scale(1.1);
  transition: transform .9s ease-in-out;
}

.overBtn .btn2{
    border: 2px solid rgb(95, 111, 199);
    width: 200px;
    margin-left: 20px;
    font-size: 16px;
    padding: 13px;
    color: goldenrod !important;
    font-weight: bolder;
    border-radius: 25px;
    text-align: center;
    height: 50px;
    margin-top: 65px;
    align-items: center;
    cursor: pointer;
}

.royalWrap{
    background-image: url('resources/backs/[GetPaidStock.com]-61b6f2d1436dd.jpg');
    color: goldenrod !important;
    font-weight: bolder;
    background-size:100vw;
    background-repeat: no-repeat;
    border-top: 2px solid black;
    font-family: "Poppins",sans-serif;
}

.royalInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px;
    justify-content: space-between;
}

.royalWrap p{
  font-size:14px;

}

.royalInfo .royalLeft{
    width: 800px;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    padding: 25px;
    font-weight: bolder;
}

#brake{
  display: none;
}

.royalInfo .royalRight{
    width: 500px;
    border-radius: 50%;
}

.royalInfo .royalRight video{
    border-radius: 75px;
    width: 400px;
    height: 400px;
}

.about{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.about .aboutLeft{
    display: flex;
    flex-direction: column;
    width: 800px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    padding: 25px;
    font-weight: bolder;
    
}

.about .aboutRight{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 800px;
    text-align: center;
    color: goldenrod !important;
    font-weight: bolder;
    text-transform: uppercase;
    font-weight: bolder;
}

.about .aboutRight .frames{
    background-image: url('images/icons/frame.png');
    background-size: 200px;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-size: 12px;
    color: goldenrod;
    font-weight: bolder;
    width: 200px;
}




.slider {
  background: url('resources/backs/[GetPaidStock.com]-61b6ed7dafaf5.jpg') no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 650px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__nav:checked:nth-of-type(5) ~ .slider__inner {
    left: -400%;
  }
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.slider__contents {
  height: 100%;
  margin-bottom: 50px;
  padding: 4rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__contents{
    display: flex;
    flex-direction: row-reverse;
}

.slider__contents:nth-child(2),.slider__contents:nth-child(4) {
    display: flex;
    flex-direction: row;
}

.slider__contents:nth-child(2) .sliderLeft{
    width: 400px;

}

.slider__contents:nth-child(2) .sliderRight{
    width: 800px;

}


.slider__contents .sliderLeft{
    width: 600px;
    background: url('resources/backs/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg') no-repeat;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    
}

#gan{
  width: 600px;

}

.slider__contents .sliderRight{
    width: 600px;
}
.slider__contents img {
  width: 500px;
  height: 500px;
}

.slider__contents img:hover{
  transform: scale(1.5);
  transition: transform 5s ease-in-out;
}

.slider__caption {
  font-weight: 500;
  font-family: 'Corinthia', cursive;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #fff !important;
  font-style: italic;
  font-size: 30px;
  color: #fff;
  
}
.slider__txt {
  color: #fff;
  font-family: cursive;
  font-size: 12px;
  font-weight: bolder;
  width: 1800px;
  margin-bottom: 3rem;
  max-width: 300px;
}

.slider__contents .slider__skills{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.slider__skills .active{
    display:flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-family: "Poppins";

}

.activeTitle{
  color: goldenrod !important;
  font-family: 'Poppins';
  background-image: url('images/icons/frame.png');
  background-size: 200px;
  background-repeat: no-repeat;
  text-align: center;
  
}

.passiveTitle{
  color: goldenrod !important;
  font-family: 'Poppins';
}

.slider__skills .active .activeInner{
    display:flex;
    flex-direction: row;
}

.slider__skills .passive{
    display:flex;
    flex-direction: column;
    text-align: center; 
    color: #fff;
    font-family: "Poppins";
    font-size: 12px;
}

.slider__skills .passive .passiveInner{
    display:flex;
    flex-direction: row;
}


.skills{
    margin: 15px;
    display: flex;
    width: 150px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    line-height: 15px;
}

.tok{
  background-image: url('resources/backs/[GetPaidStock.com]-61b6f2d1436dd.jpg');
  object-fit: cover;
  background-size: cover;
}
.contentContainer {
  background-image: url('images/backgrounds/back4.jpeg');
  color: goldenrod !important;
  padding:10px;
  max-width:550px;
  min-width:150px;
  margin:15vh auto;
  border-radius:10px;
  border:solid 5px #dbdbdb;
}

.contentContainer h1{
  font-size: 25px !important;
}

#my-pie-chart-container {
  display: flex;
  align-items: center;
  width: 450px;
  height: 350px;
}

#my-pie-chart {
  background: conic-gradient(pink 0.00% 3.75%, blue 3.75% 8.50%, green 8.08% 15.68%, yellow 15.68% 27.27%, orange 23.27% 40.47%, red 40.47%);
  border-radius: 50%;
  width: 550px;
  height: 350px;
}

#legenda {
  margin-right: -70px;
  background-color: white;
  padding: 5px;
  color: black;
  width: 330px;
  height: 210px;
  font-size: 10px;
}

.entry {
  display: flex;
  align-items: center;
}

.entry-color {
    height: 20px;
    width: 20px;
    margin: 5px;
}

.entry-text {
  margin-left: 2px;
}

#color-red {
  background-color: red;
}

#color-orange {
  background-color: orange;
}

#color-yellow {
  background-color: yellow;
}

#color-green {
  background-color: green;
}

#color-blue {
  background-color: blue;
}

#color-black {
  background-color: pink;
}

#color-brown {
  background-color: brown;
}



.features{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url('images/backgrounds/back4.jpeg');
    background-size:100vw;
    background-repeat: space;
    background-attachment: fixed;
    border-top: 2px solid black;
    font-family: "Play",sans-serif;
    height: 800px;
}

.features .featureTitle{
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  color: #fff;
}

.featureCat{
    display: flex;
    flex-direction: column;
    margin:10px;
    justify-content: space-between;
    align-items: center;
}

.featureCat1, .featureCat2{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cat{
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
    background: url('images/backgrounds/roadmap.jpeg');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgb(76, 94, 94);
    box-shadow: 6px 4px rgb(76, 94, 94);
    font-family: "Poppins";
    margin-bottom: 40px;
    cursor: pointer;
}

.cat:hover{
  box-shadow: 0 2px 6px 0 rgba(47,83,151,0.40); 
    color: goldenrod !important;
    transition: all 500ms ease-in-out;
}

.cat img:hover{
  transform: scale(1.2);
  transition: transform 5s ease-in-out;
}

.cat p{
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}

.cat img{
    width: 230px;
    height: 230px;
}

.innerCat{
  background-color:  rgb(76, 94, 94);;
  width:280px;
  padding: 5px;
  color: goldenrod !important;
  border-radius: 50px;
    margin-bottom: 120px;
}




.blurred {
  margin-top: 90px;
  background-image: url('images/backgrounds/back1.jpeg');
  object-fit: cover;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.glass {
  position: relative;
  background: inherit;
  overflow: hidden;
  width: 50%;
  height: 50%;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 
              0 6px 20px rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.glass:before {
  content: '';
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -20px;
  box-shadow: inset 0 0 500px rgba(255, 255, 255, .4); 
  filter: blur(10px);
  z-index: -1;
}


.counter .container {
    color: #fff;
    margin: 0 auto;
    text-align: center;
  }
  
  .counter h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  .counter li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  .counter li span {
    display: block;
    font-size: 4.5rem;
  }
  
  .counter .emoji {
    display: none;
    padding: 1rem;
  }
  
  .counter .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
  }
  

  .roadmap {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
    background: url('resources/backs/[GetPaidStock.com]-61b6eee5ee7fa.jpg');
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-family: "Poppins";
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .roadmap .roadmapTitle{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      line-height: 25px;
      font-size: 18px;
      text-align: center;
      font-weight: bolder;
      color: #fff;
  }

  .roadmap .roadmapCon{
      margin: 40px;
  }
  /* The actual timeline (the vertical ruler) */
  
  .timeline {
    position: relative;
    width: 800px;
    max-width: 1200px;
    margin: 0 auto;
  
  }
  
  /* The actual timeline (the vertical ruler) */
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;  
    background-color: white;  
    top: 0;
    bottom: 0;
    left: 50%;
  
  }
  
  /* Container around content */
  
  .roadmap .container {
  
    padding: 10px 40px;
  
    position: relative;
  
    background-color: inherit;
  
    width: 50%;
  
  }
  
  /* The circles on the timeline */
  
  .roadmap .container::after {
  
    content: '';
  
    position: absolute;
  
    width: 25px;
  
    height: 25px;
  
    right: -17px;
  
    background-color: white;
  
    border: 4px solid #FF9F55;
  
    top: 15px;
  
    border-radius: 50%;
  
    z-index: 1;
  
  }
  
  /* Place the container to the left */
  
  .left {
  
    left: 0;
  
  }
  
  /* Place the container to the right */
  
  .right {
  
    left: 50%;
  
  }
  
  /* Add arrows to the left container (pointing right) */
  
  .left::before {
  
    content: " ";
  
    height: 0;
  
    position: absolute;
  
    top: 22px;
  
    width: 0;
  
    z-index: 1;
  
    right: 30px;
  
    border: medium solid white;
  
    border-width: 10px 0 10px 10px;
  
    border-color: transparent transparent transparent white;
  
  }
  
  /* Add arrows to the right container (pointing left) */
  
  .right::before {
  
    content: " ";
  
    height: 0;
  
    position: absolute;
  
    top: 22px;
  
    width: 0;
  
    z-index: 1;
  
    left: 30px;
  
    border: medium solid white;
  
    border-width: 10px 10px 10px 0;
  
    border-color: transparent white transparent transparent;
  
  }
  
  /* Fix the circle for containers on the right side */
  
  .right::after {
  
    left: -16px;
  
  }
  
  /* The actual content */
  
  .content {
    color: #fff;
    font-size: 10px;
    padding: 20px 30px;
    font-weight: bolder;
    position: relative;
    line-height: 20px;
    border-radius: 6px;
    background-image: url('resources/backs/[GetPaidStock.com]-61b6f2d1436dd.jpg');
    object-fit: cover;
    
    
  
  }


  .partners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('resources/backs/[GetPaidStock.com]-61b6ed7dafaf5.jpg') no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    padding: 20px;
    
  }

  .partners .title{
    font-size: 20px;
    margin: 10px;
    color: #fff;
    text-transform: uppercase;
  }
  .PartnersContent{
    display:flex;
    flex-direction: column;
  }

  .row1, .row2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .row1 img{
    width: 200px;
    height: 200px;
  } 
  
  .row2 img{
    width: 200px;
    height: 200px;
  }

  .partCont{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    margin: 10px;
  }

  .faqSec{
    background-image: url('resources/backs/[GetPaidStock.com]-61b6eee5ee7fa.jpg');
    object-fit: cover;
    padding: 10px;
}

.faqSec .title{
    color: goldenrod;
    font-weight: bolder;
    font-family: "Poppins";
    padding: 20px;
    font-size: 14px;
    text-align: center;
}

.accordion {
width: 90%;
max-width: 1000px;
margin: 2rem auto;
}

.accordion-item {
background-color: #fff;
color: #111;
margin: 1rem 0;
font-size:12px;
padding:10px;
line-height: 10px;
font-family: "Poppins";
border-radius: 0.5rem;
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
padding: 0.5rem 3rem 0.5rem 1rem;
min-height: 3.5rem;
line-height: 1.25rem;
font-weight: bold;
display: flex;
align-items: center;
position: relative;
cursor: pointer;
}
.accordion-item-header::after {
content: "\002B";
font-size: 2rem;
position: absolute;
right: 1rem;
}
.accordion-item-header.active::after {
content: "\2212";
}
.accordion-item-body {
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
padding: 1rem;
line-height: 1.5rem;
border-top: 1px solid;
border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

  


  footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-image: url('resources/backs/[GetPaidStock.com]-61b6ed7dafaf5.jpg');
    object-fit: cover;
    background-size: 1350px;
    border-bottom: 3px solid black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-size: 10px;
    text-align: center;
    font-family: "Poppins";
}

.footerLeft{
    display: flex;
    flex-direction: column !important;
    align-items: center;
    text-align: center;
    line-height: 15px;
}

.footerLeft img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.footerLeft{
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.footerCenter{
    display: flex;
    flex-direction: row;
}

.footerCenter .sociaIcon{
    background-image: url('images/iconRing.png');
    background-size: 50px;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.footerCenter .sociaIcon img{
  height: 28px;
  margin-top: 5px;
  width: 28px;
  border-radius: 50%;
}


.footerRight{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerRight span{
    margin-top: 10px;
    cursor: pointer;
    width: 100px;
    padding: 6px;
    height: 30px;
    text-align: center;
    background-color: goldenrod;
    border: 1px solid cyan;
    border-radius: 25px;
}

.footerRight span:hover{
  background-color: transparent;
}



  
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }

    .header{
      width: 100%;

    }
    .vidSec{
      font-size: 4px;
    }

    .vidSec .overlay .title{
      font-size: 34px;
      line-height: 60px;
      margin-top: -40px;
      color: goldenrod;
    }

    .overlay .t1{
      margin-top: 200px !important;
    }

    .vidSec .overBtn{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      padding: -90px;
    }

    .vidSec .overBtn .btn2{
      margin-bottom: 200px;
    }

    .vidSec .overBtn .btn1{
      margin-bottom: -30px;
      margin-top: -10px;
    }

    .royalWrap video{
      width:95vw !important;
      border-radius: 50%;
    }

    .royalWrap{
      background-image: url('resources/backs/[GetPaidStock.com]-61b6f2d1436dd.jpg');
      background-repeat: repeat-y;
      color: goldenrod !important;
      font-weight: bolder;
      background-size:150vw;
      text-align: center;
      font-size: 12px;
      width: 100vw;
      overflow-x: hidden;
    }

    .royalInfo{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

    .royalWrap .royalInfo .royalLeft p{
      font-size: 12px;
      text-align: center;
    }

    .royalWrap .royalInfo .royalLeft p{
      font-size: 12px;
      text-align: center;
    }

    #brake{
      display: inline;
    }


    .aboutLeft p{
      font-size: 12px;
      text-align: center;
    }

    .royalLeft p{
      font-size: 12px;
      text-align: center;
    }

    .royalLeft{
      width: 90vw !important;
      overflow-x: hidden !important ;
    }

    .aboutLeft{
      overflow-x: hidden !important ;
      
    }

    .aboutLeft #popText{
      width: 100vw;
      margin-left: 185px;
      text-align: center;
      padding: 5px;
    }


    .about{
      display: flex;
      flex-direction: column;
    }

    .about .aboutRight{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .slider__contents{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .slider__contents .active{
      display: none;
    }

    .slider__contents .passive{
      display: none;
    }

    .slider__contents .sliderLeft{
      width: 100px;
    }

  .slider__contents .sliderRight{
      width: 100px;
      margin-top: 30px;
    }
  
  .slider__contents:nth-child(2) .sliderLeft{
      width: 200px;
    }
  
  .slider__contents:nth-child(2) .sliderRight{
      width: 400px;
  
  }

  .slider__contents:nth-child(2),.slider__contents:nth-child(4) {
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .slider__contents img {
      width: 300px;
      height: 300px;
  }

#gan{
  margin-right: 3px !important;
  width: 300px;

}

#reg{
  margin-right: -5px !important;

}
.slider__contents .sliderLeft{
  width: 300px;
  background: url('images/backgrounds/roadmap.jpeg') no-repeat;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  
}
  .tok h1{
    font-size:14px;
    padding: 5px;
  }

  .tok .entry-text{
    font: size 14px !important;
    font-weight: bolder;
  }

  #my-pie-chart-container {
    display: flex;
    align-items: center;
    width: 350px;
    height: 200px;
  }

  
  #my-pie-chart {
    background: conic-gradient(pink 0.00% 4.75%, blue 4.75% 8.50%, green 8.08% 13.68%, yellow 13.68% 23.27%, orange 23.27% 40.47%, red 40.47%);
    border-radius: 50%;
    width: 160px;
    height: 200px;
  }
  
  #legenda {
    margin-left: 10px;
    background-color: white;
    padding: 5px;
    color: black;
    width:170px;
    height: 130px;
    font-size: 10px;
  }
  
  .entry {
    display: flex;
    align-items: center;
  }
  
  .entry-color {
      height: 10px;
      width: 10px;
      margin: 5px;
  }
  

  .features{
    height: 1700px;
    margin-bottom: 700px;
    background-image: url('images/backgrounds/back4.jpeg');
    background-size :1700px;
  }

  .featureCat1, .featureCat2{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .cat{
    margin-top: 30px;
  }




  .roadmap .timeline:after{
    display: none;
  }

  .roadmap .timeline{
    width: 400px;
  }

  .partners .PartnersContent .row1, .row2{
    display: flex;
    flex-direction: column;
  }

  footer{
    display: flex;
    flex-direction: column;
    background-size: 2550px;
    object-fit: cover;
  }

  footer .footerRight{
    margin-top: 15px;
  }


}


  @media screen and (max-width: 600px) {
  
  /* Place the timelime to the left */
  
    .timeline::after {
  
      left: 31px;
  
    }
  
  /* Full-width containers */
  
              
    .roadmap .container {
  
      width: 100%;
  
      padding-left: 70px;
  
      padding-right: 25px;
  
    }
  
  /* Make sure that all arrows are pointing leftwards */
  
  .roadmap .container::before {
  
      left: 60px;
  
      border: medium solid white;
  
      border-width: 10px 10px 10px 0;
  
      border-color: $font;
  
    }
  
  /* Make sure all circles are at the same spot */
  
    .left::after, .right::after {
  
      left: 15px;
  
    }
  
  /* Make all right containers behave like the left ones */
.right {
    left: 0%;  
}
  
  p{
    font-weight: 100;
  }




@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
  

















  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */


@media only screen and (max-width: 768px) {

  header{
    width: 100;
  }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        background-color: goldenrod;
        width: 64%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 9999;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
        z-index: 99999;
        color: black;

    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 9999;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .hero .heroSide2{
        display: none;
    }
}
